.toolbar-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 8%;
    background-color: var(--primary);
 
}

.basic-button-toolbar {
    color: var(--accent) !important;
    background-color: var(--divider) !important;
    margin: 0px 10px;
}

.divider {
    max-width: 100%;
    width: inherit;
}

.homepage-button {
    background-color: var(--accent) !important;
    color: var(--divider) !important;
    margin: 30px 0px;

}
