.main-container {
  width: 100%;
  background-color: var(--divider);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-row {
  margin: 20px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
  font-size: 2em;
  font-weight: 600;
}

.completed {
  margin: 40px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primarydark);
  font-size: 2.5em;
  font-weight: 600;
}

.save-btn-row {
  margin: 20px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disclaimer {
  color: var(--primary);
  font-size: 500;
}

.save-btn {
  color: var(--accent) !important;
  backgournd-color: var(--primary) !important;
}

.lists-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.title {
  color: var(--primarydark);
  font-size: 2.2em;
  font-weight: 700;
  margin: 50px 0px;
}

.list {
  border: solid 1px #ccc;
  min-height: 60px;
  min-width: 200px;
  background: var(--background);
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
