.main-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--divider);
}

.selection-container {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.modification-container {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.card {
  margin-top: 20px;
}

.card-btn {
  margin: 0px 5px;
  color: var(--accent) !important;
  background-color: var(--primarydark) !important;
}

.section-title {
  margin: 20px 0px;
  color: var(--primary);
  font-size: 2em;
  font-weight: 600;
}

.form-container {
  margin-top: 70px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
}


.title {
  margin: 30px 0px;
  font-size: 2.1em;
  font-weight: 700;
  color: var(--primary);
}

.form-field {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.price-row {
  display: flex;
  align-items: center;
}
.radio-group {
  color: var(--primarytext);
}

.image-input {
  color: var(--accent) !important;
}

.image-title {
  font-size: 1.6em;
  font-weight: 500;
  color: var(--primary);
}

.submit-row {
  display: flex;
  justify-content: center;
}

.submit-btn {
  margin-top: 50px;
  background-color: var(--primarylight) !important;
  color: var(--accent) !important;
}

.error-row {
  color: red;
  font-size: 2em;
  font-weight: 700;
  margin: 30px 0px;
}

.completed-row {
  color: var(--primarydark);
  font-size: 2.3em;
  font-weight: 700;
  margin: 50px 0px;
}
