.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 30%;
    padding: 20px; 

    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

.login-input {
   margin-top: 10 px;
   margin-bottom: 10px;
}

.error-message {
    color: red;
    font-size: 15 px;
    margin-top: 15 px;
}
  