/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --darkprimary: #388E3C;
    --primary: #4CAF50;
    --primarylight: #C8E6C9;
    --text: #ffffff;
    --accent: #FF5722;
    --primarytext: #212121;
    --secondarytext: #757575;
    --divider: #F5F5F5;
    --background: #EEEEEE;
}

.basic-button {
    background-color: var(--accent) !important;
    color: var(--divider) !important;
}