.form-control-check {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-control-check:focus {
    color: #495057;
    background-color: #fff;
    border-color: green;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .form-control-check-ver {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #cef5d8;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-control-check-ver:focus {
    color: #495057;
    background-color: #cef5d8;
    border-color: green;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  
  .form-control-check-errore{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #721c24;
    background-color: #f8d7da;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-control-check-errore:focus {
    color: #495057;
    background-color: #f8d7da;
    border-color: green;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .select-control-check{
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid green;
    border-radius: 0.25rem;
  }
  
  .select-control-check-ver{
    color: #495057;
    background-color: #cef5d8;
    background-clip: padding-box;
    border: 1px solid green;
    border-radius: 0.25rem;
  }
  
  .select-control-check-errore{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    background-clip: padding-box;
    border: 1px solid ;
    border-radius: 0.25rem;
  }