<%- include('./navbar'); %>
<main>
    <div class="container">
        <div class="row py-5 mt-4 align-items-center">
             
            <div class="col-md-5 pr-lg-5 mb-5 mb-md-0 log-div">
                <img src="/assets/Mobile login-amico.svg"  alt="Example Image" class="img-fluid mb-3 d-none d-md-block img-login">
                
                <h2 style="color:#04044c; font-weight: bold; text-align: center; margin-top: -15%;">Accedi come utente EVENT TICKET</h2>
                 
             </div>
                          
             <div class="col-md-7 col-lg-5 ml-auto login">
                                   
                <form action="/auth/login" method="POST">
                    <%- include ("./messages") %>
                    <div class="row ">
                                  
                        <!-- Email Address -->
                        <div class="input-group col-lg-12 mb-4">
                             
                            <input type="email" id="email" name="email" class="form-control bg-white border-left-0 border-md" placeholder="Enter Email" required autofocus/>
                                                          
                        </div>
     
                        <!-- Password -->
                        <div class="input-group col-lg-12 mb-4">
                                                          
                            <input type="password" id="password" name="password" class="form-control bg-white border-left-0 border-md"
                                placeholder="Enter Password" required />
                        </div>
                         
                         
                        <!-- Submit Button -->
                        <div class="form-group col-lg-12 mx-auto mb-0" style="margin-top:2%;">
                            <br>
                               
                            <input type="hidden" id="role" name="role" value="User" />
                            <button type="submit" class="nav-mybutton" style="width: 100%;height:5vh;">Login</button>
                             
                        </div>
                         
     
                        <!-- Divider Text -->
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5"></div>
                            <span class="px-2 small text-muted font-weight-bold text-muted">oppure</span>
                            <div class="border-bottom w-100 mr-5"></div>
                        </div>
                                                         
                        <!-- Already Registered -->
                        <div class="text-center w-100" >
                        <br>
                            <p class="text-muted font-weight-bold">Sei un Manager? <br><a href="/auth/loginManager" class="text-primary ml-2">Clicca qui per effettuare il login</a></p>
                            <p class="text-muted font-weight-bold">Sei un Admin? <br><a href="/auth/loginAdmin" class="text-primary ml-2">Clicca qui per effettuare il login</a></p>
                            <p class="text-muted font-weight-bold">Non hai un account come utente? <br><a href="/auth/register" class="text-primary ml-2">Clicca qui per registrati su Event Ticket</a></p>
                        </div>                        
                                                           
                     </div>
                 </form>
             </div>
         </div>
     </div>
</main>

<%- include('./footer'); %>
