<div class="main-container">
    <div class="title-container">
        <h1 class="title">YOUR CART</h1>
    </div>
    <div class="cart-section">
        <div class="seller-section" *ngFor="let storecart of cartList">
            <div class="store">
                <div class="store-name">{{storecart.seller.username}}</div>
                <div class="store-location">{{storecart.seller.address}}</div>
            </div>
            <div class="products">
                <div class="product" *ngFor="let item of storecart.products">
                    <div class="product-left">
                        <div class="product-title">
                            {{item.product.title}}
                        </div>
                        <div class="product-description">
                            {{item.product.description}}
                        </div>
                    </div>
                    <div class="product-right">
                        <div class="quantity-picker">
                            <button mat-mini-fab 
                            class="quantity-picker-icon"
                            (click)="newQuantity(item, false)" 
                            disabled="{{item.quantity === 0}}">
                                <mat-icon>remove</mat-icon>
                            </button>
                            <p>{{item.quantity}}</p>
                            <button mat-mini-fab
                            class="quantity-picker-icon" 
                            (click)="newQuantity(item, true)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                        <div class="remove-button">
                            <button mat-raised-button 
                            class="remove-btn"
                            (click)="removeItem(item)">REMOVE FROM CART</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="confirm-button">
            <button mat-raised-button 
            class="checkout"
            routerLink="/checkout">CHECKOUT</button>
        </div>
    </div>
</div>