<% if(typeof name !== 'undefined' && name !== null) { %>
    <nav>
        <ul class="ul-nav-logo">
            
                <div class="logo-image">
                    <img src="/assets/event-2.png"  alt="Example Image" class="img-fluid">
                 </div>
            
            <li>
                <div  class="mylogo">
                <p><b> EVENTICKET </b></p>
                 </div>
            </li>
        </ul>
        <ul class="ul-nav">
        <li>
            <a  href="/" class="this"> Home</a>
        </li>
        <li>
            <a href="/events.html">Eventi</a>
        </li>
        <li>
            <a href="/contacts.html" >Contatti</a>
        </li>
        <li><a href="/faq.html">FAQ</a>
        </li>  
        <li>
            <% if(typeof role !== 'undefined' && role == "User") { %>
                <a  href="/profiloUser">Profilo</a>
            <% } else if(typeof role !== 'undefined' && role == "Manager"){ %> 
                <a  href="/profiloManager">Profilo</a>
            <% } else{ %> 
                <a  href="/profiloAdmin">Profilo</a>
            <% } %>
        </li> 
        <li>
            <% if(typeof role !== 'undefined' && role == "User") { %>
                <a  href="/Aprenotazioni">Tickets</a>
            <% } else if(typeof role !== 'undefined' && role == "Manager"){ %> 
                <a  href="/Aeventi_manager">Events</a>
            <% } else{ %> 
                
            <% } %>
        </li>  
        <li id="but-logged">
            <a href="/auth/logout" class="btn btn-secondary">Logout</a>
        </li>
    </ul>
    <div style="display: flex;" class="logged-nav">
        <div style="margin-right: 10%; margin-top: 5%; color: #04044c; font-weight: bold;">    
            <span style="font-size:20px; text-transform:capitalize;"><%= name %></span>
           <span  style="font-size:20px;text-transform:capitalize;"> <%= role %></span>
            <span style="font-size:15px;">utente</span>
        </div>
        <div style=" margin-top: 5%" class="logged-nav">

            
            <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='/auth/logout'" >logout</button>
           
        </div>
    </div>   
    <div class="burger" id="logged-burger"> 
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>    
</nav>


<% } else{ %> 



<nav>
    <ul class="ul-nav-logo">
        
            <div class="logo-image">
                <img src="/assets/event-2.png"  alt="Example Image" class="img-fluid">
             </div>
        
        <li>
            <div  class="mylogo">
            <p><b> EVENTICKET </b></p>
             </div>
        </li>
    </ul>
    <ul class="ul-nav">
        <li>
            <a  href="/" class="this"> Home</a>
        </li>
        <li>
            <a href="/events.html">Eventi</a>
        </li>
        <li>
            <a href="/contacts.html" >Contatti</a>
        </li>
        <li><a href="/faq.html">FAQ</a>
        </li>  
        <li id="but">
            <a href="/auth/login">Login</a>
        </li>
    </ul>
    <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='/auth/login'">login</button>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div> 
</nav>

<% } %>